.avatar {
  border-radius: 50%;
  float: right;
  margin-right: 1em;
}

body {
  padding: 0;
  margin: 0;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  font-family: "Open Sans", sans-serif;
}

header {
  height: 50px;
  background: rgb(106, 3, 138);
  color: #fff;
  padding: 0 0.5rem 0 1rem;
  position: fixed;
  top: 0;
  width: 95%;
  opacity: 1;
  z-index: 1;
}

header .logo {
  line-height: 50px;
  font-weight: bold;
}

.personal-link:link {
  text-decoration: none;
  color: rgb(4, 0, 130);

}

.personal-link:hover {
  background-color: rgb(194, 184, 184); 
}

.personal-link:visited {
  text-decoration: none;
  color:rgb(166, 23, 209);
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline;
}

nav ul li a,
nav ul li a:link,
nav ul li a:visited {
  display: inline-block;
  padding: 0 0.5rem;
  color: #fff;
  line-height: 50px;
  text-decoration: none;
}

nav ul li a:hover {
  background: #444;
}

.printresume {
  float: right;
  display: block;
  padding: 20px;
}

main {
  /* Use a margin to center the page */
  margin: 0 auto;

  /* Set the width of the content */
  width: 960px;

  /* For smaller screens to not exceed the max screen width */
  max-width: 90%;
}

/* gutter to small screens*/

// @media only screen and (max-width: 960px) {
//   main {
//     max-width: 90%;
//   }
// }

#toggleMenu {
  display: none;
}

@media only screen and (max-width: 960px) {
  
  #toggleMenu {
    display: block;
    float: right;
    line-height: 50px;
  }

  header {
    position: fixed;
  }

  nav {
    position: absolute;
    display: none;
    background: rgb(106, 3, 138);
    top: 50px;
    left: 0;
    right: 0;
  }

  nav ul li a,
  nav ul li a:link,
  nav ul li a:visited {
    display: block;
    border-bottom: 1px solid #777;
  }

  .printresume {
    float: right;
    display: block;
    padding: 20px;
  }
  
}

/* mixins */
/* clear floats */
@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* variables */
$primary-font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$primary-color: #333;
$success-color: #3c763d;
$warning-color: #8a6d3b;
$error-color: #a94442;

/* universal settings */
* {
  box-sizing: border-box;
}

.home-page-title {
  font: $primary-font-stack;
  color: $primary-color;
}

body {
  font: 100% $primary-font-stack;
  color: $primary-color;
  margin-top: 100px; 
  margin-left: 30px;
  margin-right: 30px;
  padding: 0;
  width: 1170px;
}

/* Utility Classes */

.clearfix {
  @include clearfix();
}

/** Rows and Columns */
.row {
  @include clearfix();
}

.col {
  float: left;
  width: 25%;
  padding: 0.5rem;

  /* debug */
  border: 1px solid #990000;
  background: #fff;
}

.text-success {
  color: $success-color;
}

.text-error {
  color: $error-color;
}

.text-warning {
  color: $warning-color;
}

.message {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  color: #333;
}

.message-success {
  @extend .message;
  border-color: $success-color;
  color: $success-color;
}

.message-error {
  @extend .message;
  border-color: $error-color;
  color: $error-color;
}

.message-warning {
  @extend .message;
  border-color: $warning-color;
  color: $warning-color;
}

element {
  font-size: 40 px;
}

.resume-name {
  font-size: 50px;
  color: #000;
  text-align: center;
  text-shadow: 2px 2px 5px rgb(151, 145, 145);
}

.resume-name-familiar {
  font-size: 25px;
  text-align: center;
  color: #000;
  text-shadow: 2px 2px 5px rgb(151, 145, 145);
  
}

.caradvise, .epsilon, .subaru, .harley, .chamberlain, .trivantage {
  position: relative;
  background-size: cover;
  overflow: hidden;
  font-weight: 900;
}

.caradvise img, .epsilon img, .subaru img, .harley img, .chamberlain img, .trivantage img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 90%;
  opacity: 0.2;
  z-index: -1;
}

// canvas {
//   background: rgb(0, 0, 0);
// }

/* 4. Over lay the score on the top left corner of the canvas.*/
// S

// S

.sources {
  display: none;
}